body {
  margin: 0 auto;
  background-color: #f8f8f8;
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .header {
    border-bottom: 1px solid #d9fff5;
    min-width: 320px;
    background-color: #fff;
  }

  .header__nav-list {
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__nav-list__wrapper1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 15px;
  }

  .header__nav-list__wrapper2 {
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
  }

  .header__nav-list-item__burger > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/burger.svg);
  }

  .header__nav-list-item__delimiter {
    width: 2px;
    height: 32px;
    background-image: url(../img/icons/divider.svg);
  }

  .header__nav-list-item__repair > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/repair.svg);
  }

  .header__nav-list-item__status > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/checkstatus.svg);
  }

  .header__nav-list-item_text,
  .header__nav-list-item__call,
  .header__nav-list-item__chat,
  .header__nav-list-item__profile,
  .header__nav-list-item__delimiter2 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header {
    min-width: 768px;
    border-bottom: 1px solid #d9fff5;
    background-color: #fff;
    position: relative;
  }

  .header__nav {
    min-width: 768px;
  }

  .header__nav-list {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 7px 5px;
    list-style: none;
  }

  .header__nav-list__wrapper1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 15px;
  }

  .header__nav-list__wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
  }

  .header__nav-list-item__burger > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/burger.svg);
  }

  .header__nav-list-item__logo {
    order: 1;
  }

  .header__nav-list-item__delimiter {
    width: 2px;
    height: 32px;
    background-image: url(../img/icons/divider.svg);
  }

  .header__nav-list-item__delimiter2 {
    width: 2px;
    height: 32px;
    background-image: url(../img/icons/divider.svg);
  }

  .header__nav-list-item__repair > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/repair.svg);
  }

  .header__nav-list-item__status > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/checkstatus.svg);
  }

  .header__nav-list-item__call {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/icons__tablet/call.svg);
  }
  .header__nav-list-item__chat {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/icons__tablet/chat.svg);
  }
  .header__nav-list-item__profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/icons__tablet/profile.svg);
  }
  .header__nav-list-item_text {
    display: none;
  }
}

@media (min-width: 1120px) {
  .header {
    float: right;
    margin-top: 5px;
  }

  .header__nav-list {
    font-family: "TTLakes Medium";
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__nav-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 160px;
  }

  .header__nav-list__wrapper1,
  .header__nav-list-item__call,
  .header__nav-list-item__chat,
  .header__nav-list-item__profile {
    display: none;
  }

  .header__nav-list__wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    text-align: center;
  }

  .header__nav-list-item__repair > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/repair.svg);
  }

  .header__nav-list-item__status > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/checkstatus.svg);
  }
}
